	.imagen-fondo{
		width: 100%;
		height: 100px;
		/*background-image: url('../assets/imagenes/sunny-day.jpg');*/
		background-color: green;
	}
@media (min-width: 768px) {
	.imagen-fondo{
		width: 100%;
		height: 100px;
		/*background-image: url('../assets/imagenes/sunny-day.jpg');*/
		background-color: red;
	}
}
@media (min-width: 992px){
	.imagen-fondo{
		width: 100%;
		height: 100px;
		/*background-image: url('../assets/imagenes/sunny-day.jpg');*/
		background-color: pink;
	}
}
