*{
	margin: 0;
	padding: 0;
}
.imagen-fondo{
	width: 100%;
	height: 600px;
	background-size: cover;
	background-image: url('../assets/imagenes/night.jpg');
}
.gatito img{
	margin-top: -50%;
	margin-left: 20%;
}
.cat-medium{
	display: none;
}
.cat-large{
	display: none;
}
@media (min-width: 768px) {
	.imagen-fondo{
		width: 100%;
		background-size: cover;
		background-image: url('../assets/imagenes/sunny-day.jpg');
	}
	.cat-small{
		display: none;
	}
	.cat-medium{
		display: inline-block;
	}
}
@media (min-width: 992px){
	.imagen-fondo{
		width: 100%;
		background-size: cover;
		background-image: url('../assets/imagenes/dawn.png');
	}
	.cat-medium{
		display: none;
	}
	.cat-large{
		display: inline-block;
	}
}
